/*---------------------------------------------------------
 5. Patterns (_patterns.scss)
-------------------------------------------------------- */
img {
	height: auto;
	max-width: 100%;
}
.alignleft,
.entry-thumbnail.thumbnail {
	display: inline;
	float: left;
	@include rem('margin-right', $gut);
}
.alignright {
	display: inline;
	float: right;
	@include rem('margin-left', $gut);
}
.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}
.screen-reader-text {
	position: absolute;
	top: -10000em;
}
.screen-reader-text:focus {
	left: 6px;
	top: 7px;
	height: auto;
	width: auto;
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #0073aa;
	z-index: 100000;
	line-height: normal;
	text-decoration: none;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}
#site-content[tabindex="-1"]:focus {
	outline: 0;
}
img.wp-smiley {
	margin-bottom: 0; //reset
	margin-top: 0; //teset
	padding: 0; //reset
	border: none;
}
/*---------------------------------------------------------
 Captions (_patterns.scss)
-------------------------------------------------------- */
.wp-caption {
	max-width: 100%;
	font-style: italic;
	line-height: 1.35;
	@include rem('margin-bottom', $base);
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
}
.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
	font-style: italic;
	line-height: 1.35;
	@include rem('font-size', 13px);
}
.wp-caption .wp-caption-text {
	@include rem('margin', $base/2 0);
}
/*---------------------------------------------------------
 Embeds (_patterns.scss)
-------------------------------------------------------- */
embed,
iframe,
object {
	max-width: 100%;
}
div.wp-video-shortcode {
	@include rem('margin-bottom', $base);
}
/*---------------------------------------------------------
 Google maps (_patterns.scss)
-------------------------------------------------------- */
.entry-content iframe[src*="google.com/maps"] {
	@include below(medium-screens) {
		width: 100%;
	}
}
/*---------------------------------------------------------
 Icons (_patterns.scss)
-------------------------------------------------------- */
.share-icon {
    text-rendering: auto;
}
